<div>
<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3"></div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="col-xs-6 col-sm-3 clearfix visible-xs-block">
    <ul class="list-inline list-unstyled">
        <li><a href="../" class="btn btn-primary btn-sm">Inicio</a></li>
        <li><a href="../quienes.hbs" class="btn btn-success btn-sm mt-1">Conoce nuesta propuesta</a></li>
    </ul>
  </div>
  <div class="col-xs-6 col-sm-3"></div>
</div>

</div>
