<div class="fondo_propu" style="background-image: url:('https://www.visitingargentina.com/wp-content/uploads/2019/05/Huechulafquen-e1559308612322.jpg');">


<div class="text-center bg-secondary p-1">
<h2>Nuestra propuesta</h2>
</div>

<div class="bg-light p-5">
<div class="container-fluid text-dark ">
<p>Somos un emprendimiento familiar con la intención de brindarte una experiencia vacacional única</p>
</div>

<div class="container mb-2">
    <img src="https://polylepis.tur.ar/wp-content/uploads/2020/06/Lanin.jpg" alt="Lanin">
</div>
<div class="container mb-2">
    <img src="https://media.minutouno.com/p/3e21ac8c44eb3906f7c07aeb16a0fa3a/adjuntos/150/imagenes/039/268/0039268545/san-martin-los-andes.jpg" alt="SMA Lacar">
</div>

<div class="container-fluid text-secondary">
<p>Te invitamos a dejar tu contacto para que nos comuniquemos con vos <br>
y así poder brindarte mejor información sobre nuestro plan vacacional.</p>
</div>

<div class="container-fluid">
<a href="./formulario.hbs" class="btn btn-success mt-5 mb-5">Solicitud de contacto<a>
</div>
</div>


</div>