<div class="container-fluid ml-3">
<h2>Ingreso Exitoso!  <i class="bi bi-trophy"></i></h2>
<h4>Esto quiere decir que ya nos hemos comunicado o nos estaremos comunicando en la brevedad contigo.  <i class="bi bi-send"></i></h4>
<h4>Gracias por preferirnos!</h4>
</div>


<div class="container-fluid ml-6 mb-2">
    <img src="https://www.andeshandbook.org/media/route_gallery/thumb600x400/1461455834386750752.jpg" alt="Lanin">
</div>